@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

::-webkit-scrollbar {
    width: 0;
}

section {
    padding: 5% 4%;
}

#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100vh;
    background: #111;
    border-radius: 8px;
    z-index: 1;
}

#cartPage {
    overflow-y: auto;
}

#cartPage table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cartPage table img {
    width: 100%;
}

#cartPage table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cartPage table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cartPage table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

#cartPage table td:nth-child(4), #cartPage table td:nth-child(5), #cartPage table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#cartPage table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cartPage table thead {
    border-top: 1px solid #1d1d1d;
    border-left: none;
    border-right: none;
}

#cartPage table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.3rem;
    padding: 18px 0;
}


#cartPage table tbody tr {
    padding: 1rem;
    background: #FAFAFA;
}

#cartPage table tbody tr i {
    color: #1d1d1d;
    font-size: 2rem;
}

#cartPage table tbody tr img {
    border-radius: 1rem;
}

#cartPage table tbody tr p {
    color: #1d1d1d;
    font-size: 1.2rem;
    font-weight: 600;
}

#cartPage table tbody tr td {
    padding-top: 20px;
}

#cartPage table tbody td {
    font-size: 1.3rem;
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#cart-add #coupon {
    width: 50%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

#cart-add #coupon {
    padding: 1rem 2rem;
    background: #FAFAFA;
    width: 40%;
}

#cart-add #coupon h3, #subtotal h3 {
    font-size: 2.6rem;
    padding-bottom: 15px;
}

#cart-add #coupon input {
    padding: 10px 30px;
    outline: none;
    width: 60%;
    margin-bottom: 10px;
    border: 1px solid #1d1d1d;
}

#cart-add #coupon button {
    padding: 10px 20px;
    border: 1px solid #1d1d1d;
    background: #FAFAFA;
    color: #1d1d1d;
    transition: .3s;
    margin-left: 2rem;
}

#cart-add #coupon button:hover {
    background: #1d1d1d;
    color: #FAFAFA;
    cursor: pointer;
}

#cart-add #subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #1d1d1d;
    padding: 30px;
}

#cart-add #subtotal .button-area {
    display: flex;
    justify-content: space-between;
}

#cart-add #subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#cart-add #subtotal table td {
    width: 50%;
    border: 1px solid #1d1d1d;
    padding: 10px;
    font-size: 1.3rem;
}

#cart-add #subtotal button {
    padding: 10px 20px;
    border: 1px solid #1d1d1d;
    background: #FAFAFA;
    color: #1d1d1d;
    transition: .3s;
}

#cart-add #subtotal button:hover {
    background: #1d1d1d;
    color: #FAFAFA;
    cursor: pointer;
}

.end-text {
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 100%;
}

.end-text h2 {
    font-size: 1.4rem;
    color: #1d1d1d;
}

.end-text p {
    font-size: 1.2rem;
    color: #1d1d1d;
    opacity: .8;
}

.cart-empty-message {
    width: 100%;
    height: auto;
    padding: 10px;
    background: #1d1d1d;
    text-align: center;
    border-radius: 8rem;
}

.cart-empty-message h2, p {
    color: #FAFAFA;
}

.cart-empty-message h2 {
    font-size: 2rem;
}

.cart-empty-message p {
    font-size: 1.6rem;
}

#cart-add #coupon {
    width: 50%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

#cart-add #cart-add #coupon {
    padding: 1rem 2rem;
    background: #FAFAFA;
    width: 40%;
}

#cart-add #coupon-message {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 1rem;
    display: none;
    width: 60%;
    font-size: 1.4rem;
}

#cart-add #coupon-message.success {
    background: #151515;
    color: #FAFAFA;
    display: block;
}

#cart-add #coupon-message.error {
    background: #151515;
    color: #FAFAFA;
    display: block;
}

@media (max-width: 1080px) {

    .main-home #page-header {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-size: cover;
        width: 100%;
        height: 40vh;
        background-image: url('../images/banner-shopping320.png');
        background-position: center;
        background-size: cover;
    }

    .main-home #page-header h2 {
        font-size: 2rem;
        margin-top: 6rem;
    }

    .main-home #page-header p {
        font-size: 2rem;
    }

    header .nav-icon i {
        margin-right: 6px;
        color: #1d1d1d;
        font-size: 2rem;
        transition: all .42s ease;
    }

    .nav-menu {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 130vh;
        background: #F6F5F2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 100px 30px;
        transition: all .42s;
    }

    .nav-menu a {
        display: block;
        margin: 20px auto;
        font-size: 1.8rem;
        color: #1d1d1d;
        text-transform: uppercase;
    }

    .nav-menu.open {
        right: 0;
    }

    #cart-add {
        display: flex;
        flex-direction: column;
    }

    #cart-add #coupon {
        width: 100%;
        text-align: center;
    }

    #cart-add #subtotal {
        width: 100%;
        text-align: center;
    }

    #cart-add #subtotal .button-area button {
        padding: 10px 10px;
        border: 1px solid #1d1d1d;
        color: #1d1d1d;
        transition: .3s;
    }

    #cart-add #subtotal .button-area button:hover {
        background: #1d1d1d;
        color: #FAFAFA;
    }

    section {
        padding: 2% 4%;
    }
}

body {
    height: auto;
    background: #F6F5F2;
}